<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Página de Cadastro</h1>

    <ul>
        <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(error => { %>
                <li><%= error.message %></li>
            <% })  %>
        <% } %>
    </ul>

    <form method="post" action="/empresa/cadastrar">
        
    
    </form>


    <a href='/'> Voltar para Página Inicial</a>
</body>
</html>