<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <tile>Dashboard - Empresas</tile>
</head>
<body>
    <a href='/empresa/logout'> Logout</a>
    <h1><%= dados[0].nome %></h1>

    <% for(i=0; i<dados.length; i++) { %> 
    <div class="campo_vagas">        
        <form method="post" action="/empresa/usuarias">
            <input type="submit" name="area" value="<%= dados[i].area_tecnologica %>"/> 
        </form>
        <p>  <%= dados[i].descricao_vaga %></p>
    </div>
    <% } %> 
   
</body>
</html>