<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <tile>Cadastro - Empresas</tile>
</head>
<body>
    <h1>Página index</h1>

    <% if(typeof mensagem!== 'undefined') { %>
    <p><% mensagem %></p>
    <%} %>

    <p>Empresas</p>
    <a href='/empresa/login'> Login</a>
    <a href='/empresa/cadastrar'> Clique aqui se ainda não possui cadastro</a>

</body>
</html>