<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Home</h1>

    <% if(typeof message!== 'undefined') { %>
    <p><% message %></p>
    <%} %>

    <p>Área para Empresas</p>
    <a href='/empresa/login'> Login</a></br>
    <a href='/empresa/cadastrar'> Clique aqui se ainda não possui cadastro</a>

</body>
</html>